body{
  margin: 0;
  background-color: #222;
  font-family: system-ui;
  display: grid;
  place-content: center;
  min-height: 100vh;
}

.MoreCards{
display: flex;
flex-direction: column;
gap: 20px;
 

}